// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #03438b !default;
$header-bg-color-secondary: #06437a !default;

// Text
$section-headings-color: #d30034 !default;
$body-text-color: #2d3334 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: rgba(233, 235, 236, 0) !default;
$hr-border-color: #eff0f1 !default;
